html, body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#sketch {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

#canvas0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tools {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cam-switch {
  position: absolute;
  bottom: 5%; 
  left: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
